## Preparation

In [2]:
!pip install cx_Oracle

Collecting cx_Oracle
  Downloading cx_Oracle-8.3.0-cp310-cp310-win_amd64.whl (213 kB)
     -------------------------------------- 213.1/213.1 kB 2.2 MB/s eta 0:00:00
Installing collected packages: cx_Oracle
Successfully installed cx_Oracle-8.3.0

In [19]:
# importing the necessary libraries

import cx_Oracle
import pandas as pd
import re

In [21]:
# setting up a connection to database

dsn = "localhost/xepdb1"
username = "marta"    #local user
password = "marta"

conn = cx_Oracle.connect(username, password, dsn)
print(conn.version)

21.3.0.0.0

In [22]:
# creating a cursor

cursor = conn.cursor()

In [70]:
# checking which tables the local user has access to

query = "SELECT * FROM user_tables"  # no semicolon
cursor.execute(query)
results = cursor.fetchall()

print(pd.DataFrame(results).iloc[:, :1].values)

[['CUSTOMERS']
 ['VISITS']
 ['WASHES']
 ['MACHINES']
 ['FABRICS']
 ['PROGRAMS']
 ['SERVICES']
 ['COMPLAINTS']]

## Automation of reading queries from a file

In [350]:
# opening SQL file

file = open('queries.sql', 'r')
queries = file.read()
file.close()

In [351]:
# splitting the file into list of individual tasks

queries = re.split(";\n\n--\d\. ", queries)

In [352]:
# splitting according to the element type (task description/individual queries) 

queries_split = []
for q in queries:
    queries_split.append(q.split('\n\n'))

In [353]:
len(queries_split[8])

2

In [370]:
a = "sjiji"
b = ["hfhsif", "dhdsf", "dkajdk"]

q = []
q.append([a]+b)
q=[a]+b
q

['sjiji', 'hfhsif', 'dhdsf', 'dkajdk']

In [432]:
queries2 = []

for q in queries_split:
    task = re.sub("^.*\d\. ", "", q[0])  # task description taking into consideration previous side effect of split
    
    # solution queries (partial and individual)
    elements = []
    for element in q[1:]:
        element = re.sub("--.*\n", "\n", element)     # removing all comments from partial and individual queries
        element = re.sub("\n", " ", element)          # removing new line characters
        element = re.sub("\s+", " ", element)         # removing multiple spaces
        element = re.sub(";$", "", element)           # removing the semicolon at the end
        element = re.sub("^\s", "", element)          # removing white spaces in the beginning
        elements.append(element)
        
#     print('\n\n')
    queries2.append([task] + elements)

In [436]:
# steps taken shown in sample record

for q in queries_split[2:3]:
    print("Inicial task description:\n", repr(q[0]), "\n")
    task = re.sub("^.*\d\. ", "", q[0])  # task description taking into consideration previous side effect of split
    print("Final task description:\n", repr(task), "\n")
    print("-"*30)
    
    # solution queries (partial and individual)
    for element in q[1:]:
        print("\nInicial query:\n", repr(element), "\n")
        element = re.sub("--.*\n", "\n", element)     # removing all comments from partial and individual queries
        element = re.sub("\n", " ", element)          # removing new line characters
        element = re.sub("\s+", " ", element)         # removing multiple spaces
        element = re.sub(";$", "", element)           # removing the semicolon at the end
        element = re.sub("^\s", "", element)          # removing white spaces in the beginning
        print("Final query:\n", repr(element), "\n")
        print("-"*30)

Inicial task description:
 'Display the category of complaints that received the most complaints in 2021, along with the number of those complaints.'

Final task description:
 'Display the category of complaints that received the most complaints in 2021, along with the number of those complaints.'

------------------------------

Inicial query:
 "CREATE OR REPLACE VIEW catcomplaintno AS                        --view with aggregated data\n    SELECT\n        complaint_category,\n        COUNT(complaint_id) complaints_no\n    FROM\n        complaints\n    WHERE\n        TO_CHAR(submission_date, 'yyyy') = '2021'\n    GROUP BY\n        complaint_category;"

Final query:
 "CREATE OR REPLACE VIEW catcomplaintno AS SELECT complaint_category, COUNT(complaint_id) complaints_no FROM complaints WHERE TO_CHAR(submission_date, 'yyyy') = '2021' GROUP BY complaint_category"

------------------------------

Inicial query:
 'SELECT\n    *\nFROM\n    catcomplaintno;'

Final query:
 'SELECT * FROM catcomplaintno'

------------------------------

Inicial query:
 'SELECT\n    complaint_category,\n    complaints_no\nFROM\n    catcomplaintno\nWHERE\n    complaints_no = (\n        SELECT\n            MAX(complaints_no)\n        FROM\n            catcomplaintno\n    )'

Final query:
 'SELECT complaint_category, complaints_no FROM catcomplaintno WHERE complaints_no = ( SELECT MAX(complaints_no) FROM catcomplaintno )'

------------------------------

## Querying the database

**Note:** some tasks have more than one solution. For this reason, messages have been added indicating where the query was called and when the view was created.

In [414]:
for i in range(0, len(queries2)):
    
    # display the task description and enumerate
    print("\n",i+1,".", queries2[i][0], "\n")
    
    # execute the queries
    for q in queries2[i][1:]:
        
        # SELECT statements and displaying the result (with column names and no index)
        if re.match("^SELECT", q):
            print("Query executed.")
            ex = cursor.execute(q)
            results = cursor.fetchall()
            display(pd.DataFrame(results, columns=[cursor.description[i][0] for i in range(len(cursor.description))]).style.hide())
        
        # CREATE OR REPLACE VIEW statements
        else:
            print("A view created.")
            ex = cursor.execute(q)
    print("\n")

 1 . Display a list of individual visits on which at least one free drying service was performed.

Query executed.

 2 . Display the name of the highest temperature program for individual washing machines.

Query executed.

 3 . Display the category of complaints that received the most complaints in 2021, along with the number of those complaints.

A view created.
Query executed.

Query executed.

 4 . For each person who used the laundry in 2021, display the comment in the form of "Mr Kowalski Jan, number of complaints in May - 8".

Query executed.

 5 . Display a list of visits, the customer's name and surname, the date of the complaint and the category of the complaint, and even display washes for which no complaint was filed.

Query executed.

 6 . Display the most frequently used washing machine.

Query executed.

A view created.
Query executed.

Query executed.

 7 . Calculate the bills paid by individual customers, indicate the number of washes done and the average fee for one wash. Display how many free drying services have been performed and how much would the additional profit be if this service cost a symbolic fee of 5.5.

A view created.
Query executed.

Query executed.

 8 . Check, if the level of satisfaction is higher when using free additions.

Query executed.

Query executed.

 9 . Display how many days after the visits complaints were received.

Query executed.

In [438]:
# disabling the cursor and closing the connection

cursor.close()
conn.close()